$background-dark: #383838;
$background-hover: #787878;
$accent-red: #a31919;
$hover-red:  #c31919;
$white: #fff;
$gray: #444;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$tr-time: .2s;